$dark: #222;
$n-f-text: #b2b2b2;
$n-f-links-visited: #b2b2b2;
$n-f-links-hover: #6c7ae0;
$nav-dark: #333333;

@font-face {
    font-family: Poppins-Regular;
    src: url("../../public/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Medium;
    src: url("../../public/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../../public/fonts/Poppins-Bold.ttf");
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 10px 0 10px;
    margin: auto;
    max-width: 1350px;
    height: max-content;
}





// ----- top-bar.blade.php -----

.top-bar {
    height: 40px;
    width: auto;
    background-color: $dark;
    font-family: Poppins-Regular, sans-serif;
    font-size: 12px;

    // top-bar-grid
    .top-bar-grid {
        text-align: center;
        margin: 0 auto;
        padding: 0 10px 0 10px;
        max-width: 1350px;
        min-width: 200px;
        display: grid;
        grid-template-columns: minmax(250px, 70%) auto auto auto auto;
        color: $n-f-text;
        text-decoration: none;

        .grid-one {
            text-align: left;
            padding: 11px 0 11px 0;
        }

        div {
            padding: 11px 10px 11px 10px;
            border-right: 1px solid rgba(255,255,255,0.3);
        }

        //top-bar text and links
        a:link {
            text-decoration: none;
            color: $n-f-links-visited;
            transition: color 0.7s;
        }

        a:visited {
            color: $n-f-links-visited;
        }

        a:hover {
            color: $n-f-links-hover;
        }
    }
}





// ----- nav-bar.blade.php -----

.nav-bar {
    padding: 0;
    margin: 0;
    height: 69px;
    width: auto;

    //nav-bar grid
    .nav-bar-grid{
        height: 69px;
        padding: 0 10px 0 10px;
        margin: 0 auto;
        max-width: 1350px;
        min-width: 200px;
        display: grid;
        grid-template-columns: 133px 50px auto auto auto auto auto auto minmax(auto, 45%) auto auto auto;
        text-decoration: none;

        div {
            display: block;
            padding: 0;
            margin: 0;
            height: auto;
            width: auto;

            //nav-bar text and links
            .active a {
                color: $n-f-links-hover;
            }

            .active a:visited {
                color: $n-f-links-hover;
            }

            a:visited {
                color: $dark;
            }

            a:link {
                text-decoration: none;
                color: $dark;
                transition: color 0.7s;
            }

            a:hover {
                text-decoration: none;
                color: $n-f-links-hover;
            }

            p {
                padding: 0;
                margin: 25px 15px 25px 15px;
                text-align: center;
                font-family: Poppins-Medium, sans-serif;
                font-size: 14px;
            }
        }

        //nav-bar logos
        .logo img {
            vertical-align: middle;
            max-width: 133px;
            max-height: 17px;
            padding: 0;
            margin: 26px 0 26px 0;
        }

        a .s-img {
            padding: 0;
            margin: 23px 0 0 0;
            width: 24px;
            height: 24px;
            background-image: url('/images/icons/icon-search-gray.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        a .s-img:hover {
            background-image: url('/images/icons/icon-search-blue.png');
        }

        .shopping-cart {
            padding: 0 35px 0 35px;
        }

        a .s-c-img {
            padding: 0;
            margin: 23px 0 0 0;
            width: 24px;
            height: 24px;
            background-image: url('/images/icons/icon-shopping-cart-gray.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 0.7s;
        }

        a .s-c-img:hover {
            background-image: url('/images/icons/icon-shopping-cart-blue.png');
        }

        a .h-img {
            padding: 0;
            margin: 23px 0 0 0;
            width: 24px;
            height: 24px;
            background-image: url('/images/icons/icon-heart-gray.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 0.7s;
        }

        a .h-img:hover {
            background-image: url('/images/icons/icon-heart-blue.png');
        }
    }
}





// ----- home.blade.php -----

//home categories
.home-c {
    padding: 40px 0 50px 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 430px);
    grid-column-gap: 30px;

    h1 {
        font-family: Poppins-Bold, sans-serif;
        font-size: 28px;
        color: $dark;
        margin: 25px 0 10px 25px;
        padding: 0;
        transition: 0.4s all;
    }

    p {
        font-family: Poppins-Regular, sans-serif;
        font-size: 14px;
        color: $dark;
        margin: 0 0 0 25px;
        padding: 0;
        transition: 0.4s all;
    }

    h2 {
        font-family: Poppins-Medium, sans-serif;
        font-size: 15px;
        color: #fff;
        margin: 150px 0 0 25px;
        padding: 0;
        transition: 0.4s all;
    }

    .home-c-women {
        width: 100%;
        height: 300px;
        padding: 0;
        margin: 0;
        background: url('/images/banner-01.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border: 1px #e6e6e6 solid;
    }

    .home-c-men {
        width: 100%;
        height: 300px;
        padding: 0;
        margin: 0;
        background: url('/images/banner-02.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border: 1px #e6e6e6 solid;
        transition: 0.4s all;
    }

    .home-c-accessories {
        width: 100%;
        height: 300px;
        padding: 0;
        margin: 0;
        background: url('/images/banner-03.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border: 1px #e6e6e6 solid;
        transition: 0.4s all;
    }

    .home-c-content {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        position: relative;
    }

    a {
        display: inherit;
        padding: 0;
        margin: 0;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }

    .bg {
        padding: 0;
        margin: 0;
        background-color: rgb(103, 117, 214);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.0;
        transition: 0.4s all;
    }

    a:hover .bg {
        opacity: 0.8;
    }

    a:hover h1,
    a:hover p {
        color: #fff;
    }
}





// ----- footer.blade.php -----

.footer {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    background-color: $dark;

    //footer-grid
    .footer-grid {
        height: auto;
        padding: 70px 10px 40px 10px;
        margin: 0 auto;
        max-width: 1350px;
        min-width: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-decoration: none;

        h4 {
            margin: 0;
            padding: 0 0 30px 0;
            font-family: Montserrat-Bold, sans-serif;
            font-size: 15px;
            text-transform: uppercase;
            color: #ffffff;
        }

        p {
            padding: 0 0 15px 0;
            margin: 0;
            font-family: Poppins-Regular, sans-serif;
            font-size: 13px;
            color: #b2b2b2;
            max-width: 80%;

            a {
                color: #b2b2b2;
                text-decoration: none;
                transition: all 0.4s;
            }

            a:visited {
                color: #b2b2b2;
                text-decoration: none
            }

            a:hover {
                color: $n-f-links-hover;
            }
        }

        //footer_logos
        .f-logos {
            display: grid;
            grid-template-columns: 40px 40px 40px auto;
            padding: 0;
            margin: 0;
            width: 100%;

            > a {
                width: px;
            }

            a .footer-facebook {
                padding: 0;
                margin: 0;
                width: 20px;
                height: 20px;
                background-image: url("/images/icons/footer-facebook-1.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto;
            }

            a .footer-facebook:hover {
                background-image: url("/images/icons/footer-facebook-2.png")
            }

            a .footer-instagram {
                padding: 0;
                margin: 0;
                width: 20px;
                height: 20px;
                background-image: url("/images/icons/footer-instagram-1.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto;
            }

            a .footer-instagram:hover {
                background-image: url("/images/icons/footer-instagram-2.png");
            }

            a .footer-pinterest {
                padding: 0;
                margin: 0;
                width: 20px;
                height: 20px;
                background-image: url("/images/icons/footer-pinterest-1.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto;
            }

            a .footer-pinterest:hover {
                background-image: url("/images/icons/footer-pinterest-2.png");
            }
        }

        .form-email {
            padding: 0;
            margin: 0;
            width: 100%;
            color: #b2b2b2;
            font-family: Poppins-Regular, sans-serif;
            background: $dark;
            border-color: #343434;
            border-width: 0 0 1px 0;
        }

        .form-email:focus{
            background: $dark;
            outline: none;
            border-color: $n-f-links-hover;
            border-width: 0 0 1px 0;
        }

        .form-subscribe {
            padding: 0;
            margin: 20px 0 0 0;
            background-color: $n-f-links-hover;
            color: #ffffff;
            min-width: 179px;
            height: 46px;
            border-radius: 23px;
            cursor: pointer;
            outline: none;
            border: none;
            font-family: Poppins-Medium, sans-serif;
            font-size: 15px;
            transition: all 0.4s;
        }

        .form-subscribe:hover {
            padding: 0;
            margin: 20px 0 0 0;
            background-color: #ffffff;
            color: $n-f-links-hover;
        }
    }

    .payments {
        padding: 0;
        margin: auto;
        width: max-content;
    }

    .copyright {
        font-family: Poppins-Regular, sans-serif;
        font-size: 13px;
        padding: 20px 0 40px 0;
        margin: auto;
        width: max-content;
        color: #888888;

        p {
            padding: 0;
            margin: 0;

            a {
                text-decoration: none;
                color: #007bff;
            }

            a:hover {
                color: #0056b3;
            }
        }
    }
}
