$dark: #222;
$n-f-text: #b2b2b2;
$n-f-links-visited: #b2b2b2;
$n-f-links-hover: #6c7ae0;



@font-face {
    font-family: Poppins-Regular;
    src: url("../../public/fonts/Poppins-Regular.ttf");
}

html, body {
    padding: 0;
    margin: 0;
}



// ----- top-bar.blade.php -----

.top-bar {
    height: 40px;
    width: auto;
    background-color: $dark;
    font-family: Poppins-Regular, sans-serif;
    font-size: 12px;

    // top-bar grid
    .grid {
        text-align: center;
        margin: 0 auto;
        padding: 0 10px 0 10px;
        max-width: 1350px;
        min-width: 200px;
        display: grid;
        grid-template-columns: minmax(250px, 70%) auto auto auto auto;
        color: $n-f-text;
        text-decoration: none;

        .grid-one {
            text-align: left;
            padding: 11px 0 11px 0;
        }

        div {
            padding: 11px 10px 11px 10px;
            border-right: 1px solid rgba(255,255,255,0.3);
        }

        //top-bar text and links
        a:link {
            text-decoration: none;
            color: $n-f-links-visited;
        }
        a:visited {
            text-decoration: none;
            color: $n-f-links-visited;
        }
        a:hover {
            text-decoration: none;
            color: $n-f-links-hover;
            transition: color 0.4s;
        }
    }
}


// ----- nav-bar.blade.php -----

.nav-bar {
    padding: 0;
    margin: 0;
    background-color: aquamarine;
    height: 70px;
    width: auto;
}



// ----- home.blade.php -----

.home {
    color: red;
}
