@font-face {
  font-family: Poppins-Regular;
  src: url(/fonts/Poppins-Regular.ttf?35d26b781dc5fda684cce6ea04a41a75);
}
html, body {
  padding: 0;
  margin: 0;
}

.top-bar {
  height: 40px;
  width: auto;
  background-color: #222;
  font-family: Poppins-Regular, sans-serif;
  font-size: 12px;
}
.top-bar .grid {
  text-align: center;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  max-width: 1350px;
  min-width: 200px;
  display: grid;
  grid-template-columns: minmax(250px, 70%) auto auto auto auto;
  color: #b2b2b2;
}
.top-bar .grid div {
  padding: 11px 10px 11px 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.top-bar .grid .grid-one {
  text-align: left;
  padding: 11px 0 11px 0;
}
.top-bar .grid a:link {
  text-decoration: none;
}
.top-bar .grid a:visited {
  text-decoration: none;
  color: #b2b2b2;
}
.top-bar .grid a:active {
  text-decoration: none;
  color: #6c7ae0;
}
.top-bar .grid a:hover {
  color: #6c7ae0;
}

.home {
  color: black;
}
