@font-face {
  font-family: Poppins-Regular;
  src: url(/fonts/Poppins-Regular.ttf?35d26b781dc5fda684cce6ea04a41a75);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(/fonts/Poppins-Medium.ttf?673ed42382ab264e0bf5b33f3579568c);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(/fonts/Poppins-Bold.ttf?cdb29a5d7ccf57ff05a3fd9216d11771);
}
html, body {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 10px 0 10px;
  margin: auto;
  max-width: 1350px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.top-bar {
  height: 40px;
  width: auto;
  background-color: #222;
  font-family: Poppins-Regular, sans-serif;
  font-size: 12px;
}
.top-bar .top-bar-grid {
  text-align: center;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  max-width: 1350px;
  min-width: 200px;
  display: grid;
  grid-template-columns: minmax(250px, 70%) auto auto auto auto;
  color: #b2b2b2;
  text-decoration: none;
}
.top-bar .top-bar-grid .grid-one {
  text-align: left;
  padding: 11px 0 11px 0;
}
.top-bar .top-bar-grid div {
  padding: 11px 10px 11px 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.top-bar .top-bar-grid a:link {
  text-decoration: none;
  color: #b2b2b2;
  transition: color 0.7s;
}
.top-bar .top-bar-grid a:visited {
  color: #b2b2b2;
}
.top-bar .top-bar-grid a:hover {
  color: #6c7ae0;
}

.nav-bar {
  padding: 0;
  margin: 0;
  height: 69px;
  width: auto;
}
.nav-bar .nav-bar-grid {
  height: 69px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
  max-width: 1350px;
  min-width: 200px;
  display: grid;
  grid-template-columns: 133px 50px auto auto auto auto auto auto minmax(auto, 45%) auto auto auto;
  text-decoration: none;
}
.nav-bar .nav-bar-grid div {
  display: block;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}
.nav-bar .nav-bar-grid div .active a {
  color: #6c7ae0;
}
.nav-bar .nav-bar-grid div .active a:visited {
  color: #6c7ae0;
}
.nav-bar .nav-bar-grid div a:visited {
  color: #222;
}
.nav-bar .nav-bar-grid div a:link {
  text-decoration: none;
  color: #222;
  transition: color 0.7s;
}
.nav-bar .nav-bar-grid div a:hover {
  text-decoration: none;
  color: #6c7ae0;
}
.nav-bar .nav-bar-grid div p {
  padding: 0;
  margin: 25px 15px 25px 15px;
  text-align: center;
  font-family: Poppins-Medium, sans-serif;
  font-size: 14px;
}
.nav-bar .nav-bar-grid .logo img {
  vertical-align: middle;
  max-width: 133px;
  max-height: 17px;
  padding: 0;
  margin: 26px 0 26px 0;
}
.nav-bar .nav-bar-grid a .s-img {
  padding: 0;
  margin: 23px 0 0 0;
  width: 24px;
  height: 24px;
  background-image: url("/images/icons/icon-search-gray.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-bar .nav-bar-grid a .s-img:hover {
  background-image: url("/images/icons/icon-search-blue.png");
}
.nav-bar .nav-bar-grid .shopping-cart {
  padding: 0 35px 0 35px;
}
.nav-bar .nav-bar-grid a .s-c-img {
  padding: 0;
  margin: 23px 0 0 0;
  width: 24px;
  height: 24px;
  background-image: url("/images/icons/icon-shopping-cart-gray.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.7s;
}
.nav-bar .nav-bar-grid a .s-c-img:hover {
  background-image: url("/images/icons/icon-shopping-cart-blue.png");
}
.nav-bar .nav-bar-grid a .h-img {
  padding: 0;
  margin: 23px 0 0 0;
  width: 24px;
  height: 24px;
  background-image: url("/images/icons/icon-heart-gray.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.7s;
}
.nav-bar .nav-bar-grid a .h-img:hover {
  background-image: url("/images/icons/icon-heart-blue.png");
}

.home-c {
  padding: 40px 0 50px 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 430px);
  grid-column-gap: 30px;
}
.home-c h1 {
  font-family: Poppins-Bold, sans-serif;
  font-size: 28px;
  color: #222;
  margin: 25px 0 10px 25px;
  padding: 0;
  transition: 0.4s all;
}
.home-c p {
  font-family: Poppins-Regular, sans-serif;
  font-size: 14px;
  color: #222;
  margin: 0 0 0 25px;
  padding: 0;
  transition: 0.4s all;
}
.home-c h2 {
  font-family: Poppins-Medium, sans-serif;
  font-size: 15px;
  color: #fff;
  margin: 150px 0 0 25px;
  padding: 0;
  transition: 0.4s all;
}
.home-c .home-c-women {
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
  background: url("/images/banner-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 1px #e6e6e6 solid;
}
.home-c .home-c-men {
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
  background: url("/images/banner-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 1px #e6e6e6 solid;
  transition: 0.4s all;
}
.home-c .home-c-accessories {
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
  background: url("/images/banner-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 1px #e6e6e6 solid;
  transition: 0.4s all;
}
.home-c .home-c-content {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
}
.home-c a {
  display: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.home-c .bg {
  padding: 0;
  margin: 0;
  background-color: rgb(103, 117, 214);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.4s all;
}
.home-c a:hover .bg {
  opacity: 0.8;
}
.home-c a:hover h1,
.home-c a:hover p {
  color: #fff;
}

.footer {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  background-color: #222;
}
.footer .footer-grid {
  height: auto;
  padding: 70px 10px 40px 10px;
  margin: 0 auto;
  max-width: 1350px;
  min-width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-decoration: none;
}
.footer .footer-grid h4 {
  margin: 0;
  padding: 0 0 30px 0;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .footer-grid p {
  padding: 0 0 15px 0;
  margin: 0;
  font-family: Poppins-Regular, sans-serif;
  font-size: 13px;
  color: #b2b2b2;
  max-width: 80%;
}
.footer .footer-grid p a {
  color: #b2b2b2;
  text-decoration: none;
  transition: all 0.4s;
}
.footer .footer-grid p a:visited {
  color: #b2b2b2;
  text-decoration: none;
}
.footer .footer-grid p a:hover {
  color: #6c7ae0;
}
.footer .footer-grid .f-logos {
  display: grid;
  grid-template-columns: 40px 40px 40px auto;
  padding: 0;
  margin: 0;
  width: 100%;
}
.footer .footer-grid .f-logos > a {
  width: px;
}
.footer .footer-grid .f-logos a .footer-facebook {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  background-image: url("/images/icons/footer-facebook-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.footer .footer-grid .f-logos a .footer-facebook:hover {
  background-image: url("/images/icons/footer-facebook-2.png");
}
.footer .footer-grid .f-logos a .footer-instagram {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  background-image: url("/images/icons/footer-instagram-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.footer .footer-grid .f-logos a .footer-instagram:hover {
  background-image: url("/images/icons/footer-instagram-2.png");
}
.footer .footer-grid .f-logos a .footer-pinterest {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  background-image: url("/images/icons/footer-pinterest-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.footer .footer-grid .f-logos a .footer-pinterest:hover {
  background-image: url("/images/icons/footer-pinterest-2.png");
}
.footer .footer-grid .form-email {
  padding: 0;
  margin: 0;
  width: 100%;
  color: #b2b2b2;
  font-family: Poppins-Regular, sans-serif;
  background: #222;
  border-color: #343434;
  border-width: 0 0 1px 0;
}
.footer .footer-grid .form-email:focus {
  background: #222;
  outline: none;
  border-color: #6c7ae0;
  border-width: 0 0 1px 0;
}
.footer .footer-grid .form-subscribe {
  padding: 0;
  margin: 20px 0 0 0;
  background-color: #6c7ae0;
  color: #ffffff;
  min-width: 179px;
  height: 46px;
  border-radius: 23px;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: Poppins-Medium, sans-serif;
  font-size: 15px;
  transition: all 0.4s;
}
.footer .footer-grid .form-subscribe:hover {
  padding: 0;
  margin: 20px 0 0 0;
  background-color: #ffffff;
  color: #6c7ae0;
}
.footer .payments {
  padding: 0;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footer .copyright {
  font-family: Poppins-Regular, sans-serif;
  font-size: 13px;
  padding: 20px 0 40px 0;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #888888;
}
.footer .copyright p {
  padding: 0;
  margin: 0;
}
.footer .copyright p a {
  text-decoration: none;
  color: #007bff;
}
.footer .copyright p a:hover {
  color: #0056b3;
}
